<div class="container-flex">
    <table>
      <tr>
        <td>Aim Grade:</td>
        <td><input type="text"></td>
        <td>Heat No:</td>
        <td><input type="text"></td>
        <td>Caster Date:</td>
        <div class="checkbox"><input type="checkbox"></div>
        <td>Caster Date:</td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td>Aim Grade:</td>
        <td><input type="text"></td>
        <td>Heat No:</td>
        <td><input type="text"></td>
        <td>Caster Date:</td>
        <td><input type="text"></td>
      </tr>
    </table>
  </div>
