<div class="heading">
   <div style="margin-left:12px;font-weight: bold;">Heat Production</div>

   <div class="end">
      <!-- <button type="button" class="button">Grade Finalize</button>&nbsp; -->
      <button type="button" class="button">Save</button>
   </div>
</div>

<div class="formDiv">
   <div class="one mt-2">
      <div class="container-flex">
         <table>
            <tr>
               <td>Aim Grade :</td>
               <td><input type="text"></td>
               <td>Heat No:</td>
               <td><input type="text"></td>
               <td>Caster Date:</td>
               <td><input type="text"></td>
            </tr>
            <tr>
               <td>Aim Grade :</td>
               <td><input type="text"></td>
               <td>Heat No:</td>
               <td><input type="text"></td>
               <td>Caster Date:</td>
               <td><input type="text"></td>
            </tr>
            <tr>
               <td>Aim Grade :</td>
               <td><input type="text"></td>
               <td>Heat No:</td>
               <td><input type="text"></td>
               <td>Caster Date:</td>
               <td><input type="text"></td>
            </tr>
            <tr>
               <td>Aim Grade :</td>
               <td><input type="text"></td>
               <td>Heat No:</td>
               <td><input type="text"></td>
               <td>Caster Date:</td>
               <td><input type="text"></td>
            </tr>
            <tr>
               <td>Aim Grade :</td>
               <td><input type="text"></td>
               <td>Heat No:</td>
               <td><input type="text"></td>
               <td>Caster Date:</td>
               <td><input type="text"></td>
            </tr>
            <tr>
               <td>Aim Grade :</td>
               <textarea rows="3" style="margin-left:30px"></textarea>
            </tr>
            <tr>
               <td>Aim Grade :</td>
               <div class="checkbox"><input type="checkbox"></div>
               <td>Aim Grade :</td>
               <div class="checkbox"><input type="checkbox"></div>
               <td>Aim Grade :</td>
               <div class="checkbox"><input type="checkbox"></div>
            </tr>
            <tr>
               <td>Aim Grade :</td>
               <div class="checkbox"><input type="checkbox"></div>
               <td>Aim Grade :</td>
               <div class="checkbox"><input type="checkbox"></div>
               <td>Aim Grade :</td>
               <div class="checkbox"><input type="checkbox"></div>
            </tr>
            <tr>
               <td>Aim Grade :</td>
               <div class="checkbox"><input type="checkbox"></div>
               <td>Aim Grade :</td>
               <div class="checkbox"><input type="checkbox"></div>
               <td>Aim Grade :</td>
               <div class="checkbox"><input type="checkbox"></div>
            </tr>
         </table>
      </div>
      <!-- <form>
         <div class="form-group row">
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>Sequence:</strong></label>
            <div class="col-3">
               <input type="email" class="form-control" id="colFormLabelSm" placeholder="col-form-label-sm">
            </div>
            <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>Heat
                  No:</strong></label>
            <div class="col-3">
               <input type="email" class="form-control form-control-sm " id="colFormLabelSm"
                  placeholder="col-form-label-sm">
            </div>
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-1"><strong>Caster:</strong></label>
            <div class="col-3">
               <input type="email" class="form-control form-control-sm" id="colFormLabelSm"
                  placeholder="col-form-label-sm">
            </div>
         </div>
         <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>Ladle
                  open:</strong></label>
            <div class="col-3">
               <input type="email" class="form-control" id="colFormLabelSm" placeholder="col-form-label-sm">
            </div>
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>Type:</strong></label>
            <div class="col-3">
               <input type="email" class="form-control form-control-sm " id="colFormLabelSm"
                  placeholder="col-form-label-sm">
            </div>
            <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm mt-1"><strong>Car
                  No:</strong></label>
            <div class="col-3">
               <input type="email" class="form-control form-control-sm" id="colFormLabelSm"
                  placeholder="col-form-label-sm">
            </div>
         </div>
         <div class="form-group row">
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>Size:</strong></label>
            <div class="col-3">
               <input type="email" class="form-control" id="colFormLabelSm" placeholder="col-form-label-sm">
            </div>
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>HMO:</strong></label>
            <div class="col-3">
               <input type="email" class="form-control form-control-sm " id="colFormLabelSm"
                  placeholder="col-form-label-sm">
            </div>
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-1"><strong>Actuator:</strong></label>
            <div class="col-3">
               <input type="email" class="form-control form-control-sm" id="colFormLabelSm"
                  placeholder="col-form-label-sm">
            </div>
         </div>
         <div class="form-group row">
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>Slabs:</strong></label>
            <div class="col-3">
               <input type="email" class="form-control" id="colFormLabelSm" placeholder="col-form-label-sm">
            </div>
            <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>Spray
                  Plan</strong></label>
            <div class="col-3">
               <input type="email" class="form-control form-control-sm " id="colFormLabelSm"
                  placeholder="col-form-label-sm">
            </div>
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-1"><strong>Tundish:</strong></label>
            <div class="col-3">
               <input type="email" class="form-control form-control-sm" id="colFormLabelSm"
                  placeholder="col-form-label-sm">
            </div>
         </div>
         <div class="form-group row">
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>Lanching:</strong></label>
            <div class="col-3">
               <input type="email" class="form-control" id="colFormLabelSm" placeholder="col-form-label-sm">
            </div>
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>Grade:</strong></label>
            <div class="col-3">
               <input type="email" class="form-control form-control-sm " id="colFormLabelSm"
                  placeholder="col-form-label-sm">
            </div>
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-1"><strong>Speed:</strong></label>
            <div class="col-3">
               <input type="email" class="form-control form-control-sm" id="colFormLabelSm"
                  placeholder="col-form-label-sm">
            </div>
         </div>
         <div class="form-group row">
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>Sequence:</strong></label>
            <div class="col-3">
               <input type="email" class="form-control" id="colFormLabelSm" placeholder="col-form-label-sm">
            </div>
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>Depth:</strong></label>
            <div class="col-3">
               <input type="email" class="form-control form-control-sm " id="colFormLabelSm"
                  placeholder="col-form-label-sm">
            </div>
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-1"><strong>Casting:</strong></label>
            <div class="col-3">
               <input type="email" class="form-control form-control-sm" id="colFormLabelSm"
                  placeholder="col-form-label-sm">
            </div>
         </div>
         <div class="form-group row">
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>Remarks:</strong></label>
            <div class="col-6">
               <textarea id="w3review" class="form-control form-control-sm" rows="4" cols="50"></textarea>
            </div>
         </div>
         <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>Table
                  :</strong></label>
            <div class="col-3 mt-2">
              
               <input type="checkbox">
            </div>
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>Depth:</strong></label>
            <div class="col-3 mt-2">
               <input type="checkbox">
            </div>
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-1"><strong>Casting:</strong></label>
            <div class="col-3 mt-1">
               <input type="checkbox">
            </div>
         </div>
         <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>Table
                  :</strong></label>
            <div class="col-3 mt-2">

               <input type="checkbox">
            </div>
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>Depth:</strong></label>
            <div class="col-3 mt-2">
               <input type="checkbox">
            </div>
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-1"><strong>Casting:</strong></label>
            <div class="col-3 mt-1">
               <input type="checkbox">
            </div>
         </div>
         <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>Table
                  :</strong></label>
            <div class="col-3 mt-2">
              
               <input type="checkbox">
            </div>
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>Depth:</strong></label>
            <div class="col-3 mt-2">
               <input type="checkbox">
            </div>
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-1"><strong>Casting:</strong></label>
            <div class="col-3 mt-1">
               <input type="checkbox">
            </div>
         </div>
         <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>Table
                  :</strong></label>
            <div class="col-3 mt-2">
             
               <input type="checkbox">
            </div>
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-2"><strong>Depth:</strong></label>
            <div class="col-3 mt-2">
               <input type="checkbox">
            </div>
            <label for="colFormLabelSm"
               class="col-sm-1 col-form-label col-form-label-sm mt-1"><strong>Casting:</strong></label>
            <div class="col-3 mt-1">
               <input type="checkbox">
            </div>
         </div>

      </form> -->
   </div>

   <div class="two">
      <div class="mt-2 sample">
         <div class="tittle">Sample Generation </div>
         <div class="mt-4" style="margin-left:25px"> <button class="btn btn-primary">Generate Sample</button></div>

      </div>

      <div class="mt-2 abnormality">
         <div class="tittleAbnor">Abnormality </div>
         <div class="radio">
            <div class="form-check">
               <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
               <label class="form-check-label mt-2" for="flexRadioDefault1">
                  Yes
               </label>
            </div>
            <div class="form-check">
               <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
               <label class="form-check-label mt-2" for="flexRadioDefault2">
                  No
               </label>
            </div>
         </div>
      </div>

      <div class="mt-2 deviation">
         <div>
            <div class="tittle">Process Deviations </div>
            <div style="margin-left:6px">
               <form class="form-Div">
                  <input type="checkbox">Flushing<br>
                  <input type="checkbox">HSA Fault<br>
                  <input type="checkbox">HSH<br>
                  <input type="checkbox">High Sulphur/Phosphorous<br>
                  <input type="checkbox">High Super Heat<br>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>