.thirdDiv{
    min-height: 40px; 
    border-bottom: 1px solid rgb(38, 99, 211);
}
.mat-tab-group {
    margin-bottom: 48px;
  }

.firstDiv{
    width: 80%;
    margin-left: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 
}

.main{
    display:flex
}

.secondDiv{
    width: 20%;
    margin-left: 20px;
    margin-right: 10px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
   
}


.tittle {

    background-color: rgba(231, 229, 229, 0.726);

    font-size: 15px;

    /* min-height: 50px; */

    color: rgba(35, 104, 233, 0.959);

    line-height: 30px;

    font-weight: 500;

    padding-left: 5%;



}

.message{
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.button{
    background-color:rgb(38, 99, 211);
    color: white;
    margin-left: 14px;
    border-color: rgb(38, 99, 211);;
}

.topButton{
    background-color:rgb(224, 226, 229);
    color: black;
    margin-left: 14px;
    margin-top: 6px;
    border-color: rgb(224, 226, 229);
}

.infoSection{
    margin-left: 10px;
}

.textArea{
    width:90%;
}

.topButton{
    background-color:rgb(224, 226, 229);
    color: black;
    margin-left: 14px;
    margin-top: 6px;
    border-color: rgb(224, 226, 229);
}

  