<div class="main ">
  <div class="firstDiv h-100">
    <div class="thirdDiv">
      <button type="button" class="topButton">Caster Details</button>&nbsp;
      <button type="button" class="topButton">Heat Under Running Id</button>&nbsp;
      <button type="button" class="topButton">SOP Document Upload</button>
    </div>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Caster Details"><app-caster-details></app-caster-details></mat-tab>
      <mat-tab label="Heat Production"><app-heat-production></app-heat-production></mat-tab>
      <mat-tab label="Tundish Temp">Content 3</mat-tab>
      <mat-tab label="Abnormality">Content 4</mat-tab>
      <mat-tab label="Abnormality">Content 5</mat-tab>
      <mat-tab label="Consumables">Content 6</mat-tab>
      <mat-tab label="Siab Abnormality">Content 7</mat-tab>
      <mat-tab label="Siag Details">Content 4</mat-tab>
      <mat-tab label="Siab Details">Content 4</mat-tab>
    </mat-tab-group>
  </div>

  <div class="secondDiv">
    <div class="mt-2  message">
      <div class="tittle">Message</div>
      <div class="mt-2">
        <button type="button" class="button">Prev</button>&nbsp;
        <button type="button" class="button">Refresh</button>&nbsp;
        <button type="button" class="button">Next</button>
      </div>
      <div class="infoSection">
        <div class="mt-2">New Message</div>
        <textarea id="w3review" class="form-control textArea" rows="2" cols="50"></textarea>
        <div class="mt-2">Last Message</div>
        <textarea id="w3review" class="form-control textArea" rows="2" cols="50"></textarea>
        <div class="mt-2">Last Message</div>
        <textarea id="w3review" class="form-control textArea" rows="2" cols="50"></textarea>
      </div>
    </div>

  </div>

</div>